

.interactiveSlide {
  width: 80vw;
  height: 80vh;
  font-family: "Hind", sans-serif;
  font-size: 25px;
  display: none;
}

.interactiveSlide img {
  width: 99vw;
  height: 97vh;
  background: cover;
  background-position: center;
}

#start .title h1 {
  position: absolute;
  top: 200px;
  left: 555px;
  font-family: "Hind", sans-serif;
  font-size: 50px;
}

.mainbox {
  width: 60vw;
  height: 20vh;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-top: 50px;
  background-color: lightblue;
  display: block;
  position: absolute;
  text-align: center;
  top: 5%;
  left: 15%;
  border-radius: 25px;
  border: 2px solid black;
}

.optiona {
  width: 125px;
  height: 60px;
  padding-top: 26px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  display: block;
  position: absolute;
  top: 400px;
  left: 560px;
  background-color: lightblue;
  text-align: center;
  line-height: 100%;
  border-radius: 25px;
  border: 2px solid black;
}

.optionb {
  width: 125px;
  height: 60px;
  padding-top: 26px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  display: block;
  position: absolute;
  top: 400px;
  left: 930px;
  background-color: lightblue;
  text-align: center;
  line-height: 100%;
  border-radius: 25px;
  border: 2px solid black;
}

#start {
  display: block;
}

#start .optiona {
  left: 820px; 
  padding-top: 43px;
  padding-bottom: 4px;
}

/*CHOICE ONE 11111111111111111111111111111111111111111111111111111111111111111111111111111111111111 */
#choiceone.interactiveSlide.showSlide {
  display: block;
}

/* added some custome css to choice 1 options a and b */
#choiceone .optiona {
  padding-top: 50px;
}

#choiceone .optionb {
  padding-top: 50px;
}
/* end customization for choice 1 options a and b */

/* CALL IN SICK */
#callinsick.interactiveSlide.showSlide {
  display: block;
}

#callinsick .mainbox {
  padding-top: 60px;
  padding-bottom: 0px;
}

#callinsick .optiona {
  top: 300px;
  left: 500px;
  padding-top: 43px;
  padding-bottom: 4px;
}

/* CHOICE TWO 222222222222222222222222222222222222222222222222222222222222222222222222222222222222222 */
#choicetwo.interactiveSlide.showSlide {
  display: block;
}

/* CHOICE THREE 3333333333333333333333333333333333333333333333333333333333333333333333333333333333333 */
#choicethree.interactiveSlide.showSlide {
  display: block;  
}

#choicethree .mainbox {
  padding-bottom: 190px;
}

#choicethree .optiona {
  top: 520px;
  padding-top: 40px;
  padding-bottom: 0px;
}

#choicethree .optionb {
  top: 520px;
  line-height: 100%;
  padding-top: 30px;
}

/* DEADEND ///////////////////////////////////////////////////////////////////////////////////////////////// */

#deadend.interactiveSlide.showSlide {
  display: block;
}

#deadend .mainbox {
  padding-top: 25px;
  padding-bottom: 78px;
}

#deadend .optiona {
  padding-top: 45px;
  padding-bottom: 0px;
  left: 45%;
}

/* CHOICE FOUR 444444444444444444444444444444444444444444444444444444444444444444444444444 */
#choicefour.interactiveSlide.showSlide {
  display: block;
}

#choicefour .mainbox {
  padding-bottom: 38px;
}

#choicefour .optiona {
  top: 350px;
  width: 30vw;
  height: 12vh;
  left: 265px;
  padding-top: 20px;
  padding-bottom: 10px;
}

#choicefour .optionb {
  top: 350px;
  width: 30vw;
  height: 12vh;
  left: 845px;
  padding-top; 50px;
  padding-bottom: 1px;
}

/* CHOICE FIVE 555555555555555555555555555555555555555555555555555555555555555555555555 */
#choicefive.interactiveSlide.showSlide {
  display: block;
}

#choicefive .mainbox {
  padding-bottom: 80px;
}

#choicefive .optiona {
  width: 30vw;
  height: 10vh;
  left: 255px;
  padding-top: 48px;
}

#choicefive .optionb {
  width: 30vw;
  height: 10vh;
  left: 851px;
  padding-top: 48px;
}

/* CHOICE 6 666666666666666666666666666666666666666666666666666666666666666666666666666666666666666 */
#choicesix.interactiveSlide.showSlide {
  display: block;
}

#choicesix .optiona {
  padding-top: 35px;
  padding-bottom: 0px;
  width: 30vw;
  height: 10vh;
  left: 255px;
}

#choicesix .optionb {
  width: 30vw;
  height: 10vh;
  left: 851px;
}

/* ENDING SLIDE NOT DISPLAYING*/
#final.interactiveSlide.showSlide {
  display: block;
  top: 100%;
}

#final .optiona {
  display: block;
  left: 700px;
}



